* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(#eeaeca 0%, #94e9f5 100%);
}
#asd {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cards {
  width: 500px;
  height: 600px;
  background-color: white;
  border-radius: 30px;
}

.cards .card {
  width: 100%;
  height: 100%;
}

.cards .card .header {
  width: 100%;
  height: 300px;
}
.cards .card .header .image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards .card .header .image img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 500px;
  height: 300px;
}
.cards .card .main-text .headtext {
  padding-bottom: 10px;
  padding-left: 10px;
}

.cards .main-text {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}
.cards .main-text .headtext p {
  background: linear-gradient(90deg, #eeaeca 0%, #2d27da 100%);
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50px;
}

.cards .main-text .headtext h1 {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 100px;
}
.cards .main-text .text {
  padding: 10px;
}
.footer {
  display: flex;
  gap: 2px;
  height: 220px;
  align-items: center;
}
.main-text h1 {
  padding-left: 15px;
}
.footer .img {
}
.footer .img img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: 10px;
  margin-left: 20px;
  margin-bottom: 85px;
}
.footer .name {
  padding-bottom: 80px;
}
.footer .name h3 {
  font-size: 18px;
}
.footer .name p {
  color: gray;
}
